 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo.png" %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">My list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New List</a>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>
);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<p><%= @list.name %></p>
<% @list.bookmarks.each do |bookmark| %>
<ul>
<li>
<h4> <%= bookmark.comment %></h4>
</li>
<li>
<p><%= link_to"Delete", bookmark_path(bookmark),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
</li>
</ul>

<% end %>

<div>
<%= link_to"Go back to the full list", lists_path, class:"btn btn-primary" %>
</div>

<div>
<%= link_to"Add a movie", new_list_bookmark_path(@list, @bookmark), class:"btn btn-primary" %>
</div>
